.form-3 {
	padding-top: 2rem;
	padding-bottom: 6.25rem;
	/* background: url('../images/details-1-office-worker.png') center center no-repeat; */
	background-size: cover; 

}

.form-3 h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.form-3 .list-unstyled {
	margin-bottom: 3.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

.form-3 .list-unstyled .fas,
.form-3 .list-unstyled .fab {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: #00bfd8;
}

.form-3 .list-unstyled .fa-phone {
	vertical-align: 3%;
}

.form-3 .map-responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 4rem;
	padding-bottom: 70%;
	border-radius: 0.25rem;
	opacity: 70%;
	
}

.form-3 .map-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none; 
}

.footer {
	padding-top: 1.05rem;
	padding-bottom: 0.001rem;
	background: #2e2e2e;
  }
  
  .footer .footer-col {
	margin-bottom: 0.001rem;
  }
  
  .footer h4 {
	margin-bottom: 1rem;
  }
  
  .footer .list-unstyled .fas {
	color: #00bfd8;
	font-size: 0.01rem;
	line-height: 1.02rem;
  }
  
  .footer .list-unstyled .media-body {
	margin-left: 0.625rem;
  }
  
  .footer .fa-stack {
	margin-bottom: 1rem;
	margin-right: 0.01rem;
	font-size: 1.01rem;
  }
  
  .footer .fa-stack .fa-stack-1x {
	  color: #fff;
	transition: all 0.2s ease;
  }
  
  .footer .fa-stack .fa-stack-2x {
	color: #00bfd8;
	transition: all 0.2s ease;
  }
  
  .footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
  }
  
  .footer .fa-stack:hover .fa-stack-2x {
	  color: #00a7bd;
  }