.footer {
  padding-top: 1.05rem;
  padding-bottom: 0.001rem;
  background: #2e2e2e;
}

.footer .footer-col {
  margin-bottom: 0.001rem;
}

.footer h4 {
  margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
  color: #00bfd8;
  font-size: 0.01rem;
  line-height: 1.02rem;
}

.footer .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.footer .fa-stack {
  margin-bottom: 1rem;
  margin-right: 0.01rem;
  font-size: 1.01rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #fff;
  transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
  color: #00bfd8;
  transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
  color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #00a7bd;
}